@page "/success"
<head>
    <link rel="stylesheet" href="SuccessStyleSheet.css">
    <title>Registration finished</title>
</head>
<h1>You're all set up!</h1>
<h3>We hope you enjoy your stay with the monkey club!</h3>
<body>
    <img src="monke.png" />
</body>
@code {

}
